{% extends "base.html" %}
{% block content %}
<div id="ezra">
    <form id="search-form" class="form mb-2" novalidate>
        <div class="form-row">
            <div class="col">
                <input id="search-box" class="form-control shadow-sm" name="q" ref="keyword" type="search"
                    inputmode="search" aria-label="Search" v-model="keyword" required>
                <button v-if="keyword" type="button" class="btn bg-transparent"
                    style="position: absolute; top: 0; right: 5px; z-index: 10; color: grey;" @click="clearSearch()">
                    <i class="fas fa-times-circle"></i>
                </button>
            </div>
            <div class="col-auto">
                <button v-if="loading" class="btn btn-outline-success shadow-sm" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                </button>
                <button v-else v-cloak class="btn btn-outline-success shadow-sm" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    {% raw %}
    <div class="nav-scroller mb-1">
        <nav class="nav">
            <a v-for="(display, range) in searchRanges" :href="searchRangeQuery(range)"
                :class="{ active: rangeSelected(range) }" v-cloak>
                {{ display }} <span v-if="rangeSelected(range)" class="sr-only">(*)</span>
            </a>
        </nav>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <div v-for="result in results" class="search-result card my-1 my-sm-2 shadow-sm"
                :class="{ 'low-relevant': lowRelevant(result) }" v-cloak>
                <div class="card-body p-2 p-sm-3">
                    <h6 class="card-title mb-1 mb-sm-2">
                        <a :href="wdLink(result.ref)">{{ verseRef(result.ref) }}</a>
                    </h6>
                    <p class="card-text" v-html="highlight(result)"></p>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    <div v-if="!loading && !noMoreResults" v-cloak class="row no-gutters justify-content-center my-3">
        <button type="button" class="btn btn-outline-secondary col-8" @click="pages += 1">更多結果</button>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://unpkg.com/vue@next"></script>
<script src="{{ url_for('static', filename='assets/script.js') }}"></script>
<script>
    vm.keyword = '{{ keyword }}';
    vm.search(window.location.search);
</script>
{% endblock %}